@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	<p>This is a demo project developed using Microsoft's ASP.NET Core web development framework.</p>
	<p>I am using the Model-View-Controller pattern to organize this site.</p>
	<p>This website is used to keep track of my fishing equipment.</p>
	<a asp-controller="Gear" asp-action="">Click here to see what fishing gear I own!</a>
	

</div>
